
.icon-user:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */